<%- include('../views/partials/header') %>

  <main class="h-100">
    <section class="py-1 text-center container">
      <img src="/images/error.png" class="d-block mx-lg-auto img-fluid" alt="Error Image" width="700" height="500"
        loading="lazy">
    </section>
  </main>

  <%- include('../views/partials/footer') %>