<%- include('../views/partials/header') %>

  <main class="h-100">
    <section class="py-1 text-center container">
      <div class="container col-xxl-12 px-4">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
          <div class="col-10 col-sm-8 col-lg-6 img-container" data-aos="zoom-in" data-aos-duration="700">
            <img src="/images/cloud-storage.png" class="d-block mx-lg-auto img-fluid" alt="Cloud Storage Image" width="700"
              height="500" loading="lazy">
          </div>
          <div class="col-lg-6">
            <h1 class="display-1 fw-bold lh-1 mb-3">Deta<span class="text-primary fw-light">drive</span></h1>
            <p class="lead fw-normal fs-2 ">Armazenamento de arquivos com o serviço de storage da nuvem Deta Drive.
            </p>
            <div class="d-grid gap-2 d-md-flex justify-content-center">
              <form action="/upload" enctype="multipart/form-data" method="post">
                <div class="d-flex">
                  <input class="form-control form-control shadow-sm" id="formFile" type="file" name="file" required>
                  <button type="submit" class="btn btn-primary shadow-sm mx-2">Upload</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  </div>

  <%- include('../views/partials/footer') %>